
<h1> <%= @profile.first_name @profile.last_name %> </h1>

<h2> <%= @profile.street_address %> </h2>
<h2> <%= @profile.city %> </h2>
<h2> <%= @profile.state %> </h2>
<h2> <%= @profile.zip %> </h2>
<h2> <%= @profile.phone_number %> </h2>
